main {
    background-color: #EDF2F7;
}

ul {
    padding: 0;
    list-style: none;
}

li {

    list-style: none;
}

.container {
    height: 100vh;

}

.dashboard_container {
    height: 100%;
    /*border: 1px solid black;*/
}

.dashboard_row {
    /*border: 1px solid black;*/
    background-color: white;
    height: 80%;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.035),
    0 0 80px rgba(0, 0, 0, 0.07);
    overflow: hidden;
}

.left_side {
    /*border: 1px solid black;*/
    height: 100%;
    background-color: #fbfbfb;
    box-shadow: -20px 0 36px -10px black;
}

.left_side .sidebar_name {
    height: 10%;
    background-color: #ffffff;
    font-size: 2.5rem;
    /*box-shadow: 0px -10px 80px rgba(0, 0, 0, 0.07);*/
    box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.1);
}

.right_side {
    /*border-left: 1px solid black;*/
    /*border: 1px solid black;*/
}

.sidebar {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.sidebar>li {
    /*padding: 0;*/
    width: 100%;
    /*height: 10%;*/
    line-height: 60px;
    transition: all 600ms ease-in-out;
    border-top: 1px solid #e6e6e6;
}

.sub_ul {
    text-align: center;
    display: block;
    width: 100%;
    /*height: 0;*/
    overflow: hidden;
    height: 0;
}

.custom_dropdown.show ~ .sub_ul {
    height: 100%;
    /*transform: translateY(-100px);*/
}

.sub_ul li {
    background-color: #fafafa;

}

.sub_ul li a {
    display: block;
    width: 100%;
    height: 100%;
    border-top: 1px solid #e6e6e6;
}

.custom_dropdown {
    font-size: 1.2rem;
    background-color: white;
    cursor: pointer;

}

.custom_dropdown div span {
    transform: rotate(0deg);
    transition: all .3s ease-in-out;
}

.custom_dropdown.show {
    box-shadow: 2px 6px 8px -5px rgba(0, 0, 0, 0.1);
}

.custom_dropdown.show div span {
    transform: rotate(180deg);
}

.item_link {
    color: black;
    font-size: 1.2rem;

}

