/*本檔案包含輪播文字css*/
.slides_container {
    width: 100%;
}

.custom_slides {
    display: flex;
    width: 500%;
    overflow: hidden;
    height: 90vh;
    align-items: center;
}

.custom_slide {
    width: 100vw;
    max-width: 1920px;
    transition: all 700ms ease-in-out;
}

.custom_slide_img {
    max-height: 45vh;
    -o-object-fit: cover;
       object-fit: cover;
}

.px-6 {
    padding-right: 3.5rem !important;
    padding-left: 3.5rem !important;
}

/*專題名稱*/
.custom_slide_name {

}

/*專題年度*/
.custom_slide_year {
    color: #808080
}

/*專題內容*/
.custom_slide_content {

}

@media screen and (min-width: 768px ) {
    .custom_slide_content {
        width: 80%;
    }
}

