* {
    --custom_card_offset: 40px;
}

.card_col {

    background-color: rgb(236, 238, 241);
}

.custom_card {
    max-width: 100%;
    transition: margin 600ms ease-in-out;
    box-shadow: 0 1.3px 9.8px rgba(0, 0, 0, 0.047),
    5px 10px 30px rgba(0, 0, 0, 0.07);

}

.custom_card_img {
    -o-object-fit: cover;
       object-fit: cover;
    max-height: 50vh;
}

@media screen and (min-width: 992px) {
    .custom_card_odd {
        margin-left: var(--custom_card_offset);
    }

    .custom_card_even {
        margin-right: var(--custom_card_offset);
    }

    .custom_card {
        max-width: 40%;
    }

    .line:before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 10px;
        height: calc(100% - 6rem);
        background-color: #282c34;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .custom_card_odd:before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #282c34;
        top: 50%;
        right: -8%;
        transform: translateY(-50%);
    }

    .custom_card_even:before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #282c34;
        top: 50%;
        left: -8%;
        transform: translateY(-50%);
    }

    .custom_card_odd:after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 10%;
        height: 8px;
        background-color: #282c34;
        top: 50%;
        right: -15%;
        transform: translateY(-50%);
    }

    .custom_card_even:after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 10%;
        height: 8px;
        background-color: #282c34;
        top: 50%;
        left: -15%;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 1100px) {
    .custom_card_odd:after {
        width: 9%;
        height: 8px;
        top: 50%;
        right: -16%;
    }

    .custom_card_even:after {
        width: 9%;
        height: 8px;
        top: 50%;
        left: -16%;
    }
}

@media screen and (min-width: 1200px) {
    .custom_card_odd:after {
        width: 11%;
        height: 8px;
        top: 50%;
        right: -17%;
    }

    .custom_card_even:after {
        width: 11%;
        height: 8px;
        top: 50%;
        left: -17%;
    }
}

@media screen and (min-width: 1400px) {
    .custom_card_odd:after {
        width: 13%;
        height: 8px;
        top: 50%;
        right: -18%;
    }

    .custom_card_even:after {
        width: 13%;
        height: 8px;
        top: 50%;
        left: -18%;
    }
}

@media screen and (min-width: 1600px) {
    .custom_card_odd:after {
        width: 14%;
        height: 8px;
        top: 50%;
        right: -19%;
    }

    .custom_card_even:after {
        width: 14%;
        height: 8px;
        top: 50%;
        left: -19%;
    }
}

@media screen and (min-width: 1700px) {
    .custom_card_odd:after {
        width: 13%;
        height: 8px;
        top: 50%;
        right: -20%;
    }

    .custom_card_even:after {
        width: 13%;
        height: 8px;
        top: 50%;
        left: -20%;
    }
}

.see_all_btn_container {

}

.see_all_btn {
    border: 6px solid #282c34;
    border-radius: 25px;
    color: black;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    padding: 0.375rem 2rem;
    transition: background-color 300ms ease-in-out,
    color 300ms ease-in-out;
    -webkit-clip-path: circle(0.0% at 50% 0%);
            clip-path: circle(0.0% at 50% 0%);
}

.see_all_btn:hover {
    background-color: #282c34;
    color: white;
}

